/*
Defaults
*/

* {
  font-family: "Playwrite DK Loopet", cursive;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  border-top: 15px solid rgb(130, 10, 180);
  height: calc( 100vh - 15px );
}

body {
  max-width: 1200px;
  color: #333;
  margin: 40px 40px;
}

p a, li a, .impressium-link {
  color: #000;
}

.impressium-link {
  display: inline-block;
  margin-top: 4em;
}

h1 a {
  color: #333;
  transition-duration: 250ms;
  text-decoration: none;
  box-shadow: none;
}

h1 a:hover {
  color: #333;
  box-shadow: 0 7px 0 -4px rgba(130, 10, 180, 1);
}

p, address {
  font-size: 32px;
}

tt {
  font-family: 'Roboto Mono';
  color: #666;
}

ul {
  padding: 0 1em;
}

li {
  font-size: 24px;
  margin-bottom: 0.25em;
}

h1 {
  font-size: 72px;
}

/*
Index
*/

.index-content {
  display: flex;
}

.alda-picture {
  margin-top: 3em;
}

.alda-picture img {
  height: 280px;
  width: auto;
  border: 10px solid #fff;
  border-radius: 50%;
}

/*
Contact
*/

.impressium-content {
  margin: 0 20px;
}

@media (max-width: 1290px) {
  html {
    display: block;
  }
  .alda-picture {
    display: none;
  }
}

@media (max-width: 500px) {
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #000011;
  }

  body {
    color: #ccc
  }

  p a, li a, .impressium-link {
    color: #9999ff;
  }

  h1 a:hover {
    color: #ccc;
  }

  .resume-section:hover {
    background-color: #222244;
  }
}