/*
Defaults
*/

* {
  font-family: 'Roboto', sans-serif;
}

html {
  background-color: #fff;
  border-top: 15px solid rgb(130, 10, 180);
}

body {
  max-width: 960px;
  margin: 20px auto;
  color: #333;
  padding-bottom: 40px;
  position: relative;
}

a {
  color: #666;
  text-decoration: none;
  box-shadow: none;
  transition-duration: 250ms;
}

a:hover {
  color: #333;
  box-shadow: 0 5px 0 -4px rgba(130, 10, 180, 1);
}

h1 a {
  color: #333;
  transition-duration: 250ms;
}

h1 a:hover {
  box-shadow: 0 7px 0 -4px rgba(130, 10, 180, 1);
}

p, address {
  font-size: 24px;
}

tt {
  font-family: 'Roboto Mono';
  color: #666;
}

ul {
  padding: 0 1em;
}

li {
  font-size: 24px;
  margin-bottom: 0.25em;
}

hgroup {
  margin: 0 20px;
  align-items: end;
}

hgroup h1 {
  margin-bottom: 0;
}

hgroup h2 {
  font-size: 26px;
  margin: 0;
  margin-top: 20px;
}

hgroup h2::before {
  content: '// ';
  color: rgb(130, 10, 180);
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 52px;
}

h3 {
  font-size: 32px;
  margin-bottom: 0.25em;
}

address {
  font-style: normal;
}

table {
  margin: 0 20px;
}

th, td {
  font-size: 24px;
  padding-bottom: 0.5em;
  vertical-align: top;
}

th[scope="row"] {
  text-align: right;
  padding-right: 0.5em;
}

li {
  list-style: square outside;
  margin-left: 0.5em;
}

h4 abbr { text-decoration: none !important; }

em {
  font-style: normal;
  background-color: rgba(130, 10, 180, 0.33);
}

.main-content {
  margin: 60px 20px;
}

.impressium-link {
  display: inline-block;
  margin-left: 20px;
}

/*
Index
*/

.alda-picture {
  float: right;
}

.alda-picture img {
  height: 380px;
  width: auto;
}

/*
Contact
*/

.impressium-content {
  margin: 0 20px;
}

/*
Resume
*/

.resume h3 {
  font-size: 52px;
  margin-bottom: 0.25em;
  margin-left: 20px;
  margin-right: 20px;
}

.resume-section {
  padding: 20px;
  transition-duration: 250ms;
}

.volunteer-work .resume-section {
  margin: 0;
}

.resume-section td {
  width: 65%;
}

.resume-section:hover {
  background-color: #f0f0f0;
}

.resume-section li:last-child, .resume-section ul {
  margin-bottom: 0;
}

.project, .school {
  font-size: 32px;
  margin: 0;
  margin-bottom: 0.25em;
}

.period {
  display: inline;
  margin: 0;
  font-size: 20px;
}

.role {
  display: inline;
  margin: 0;
  margin-right: 0.5em;
  font-weight: 600;
}

.description {
  line-height: 125%;
}

.freelance-projects .description {
  margin-top: 0;
}

.section-description {
  line-height: 125%;
  margin: 0 20px;
}

.description:last-child {
  margin-bottom: 0;
}

@media (max-width: 820px) {
  h1 {
    font-size: 48px;
  }

  hgroup h2 {
    font-size: 24px;
  }

  .main-content h3 {
    font-size: 32px;
  }

  p, li, address, th, td {
    font-size: 16px;
  }

  .resume h3 {
    font-size: 48px;
  }

  .alda-picture img {
    height: 250px;
  }

  .project, .school {
    font-size: 24px !important;
  }

  .period {
    font-size: inherit;
  }

  .index-nav a {
    display: block;
    padding: 0.2em;
    font-weight: bold;
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  .alda-picture {
    float: none;
    margin: 0;
  }

  .alda-picture img {
    width: 100%;
    height: auto;
  }

  .index-content {
    margin: 20px;
  }
}
